@import '../shared/variables.scss';

.toolbar {
  background: $colorBackground;
  box-shadow: 0px 1px 20px $colorShadowDark;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100vw;
  z-index: 3;
}

.hamburger {
  fill: $colorGray;
  height: 50px;
  padding: 10px;
  margin: 10px;
  transition: .3s;

  &.open {
    fill: transparentize($colorPrimary, 0.5);
  }
}

.logo {
  height: 40px;
  fill: $colorPrimary;
}

.cart {
  height: 50px;
  margin: 10px 20px;
  padding: 10px;
  position: relative;

  .icon {
    height: 30px;
    fill: $colorGray;
  }

  .count {
    position: absolute;
    bottom: 5px;
    right: 0;
    background: $colorPrimary;
    width: 22px;
    height: 22px;
    border-radius: 20px;
    font-size: .7em;
    color: #fff;
    text-align: center;
    line-height: 2em;
    font-weight: bold;
  }
}
