@import 'variables.scss';

.button {
  @include ripple(rgba(#fff, .2));
  border-radius: 5px;
  background: $colorPrimary;
  color: #ffffff;
  border: none;
  padding: 15px 30px;
  font-size: 1.2em;
  font-weight: bold;
  cursor: pointer;
  margin: 10px;
  transition: .3s;
  text-decoration: none;

  &:hover {
    background: $colorHover;
  }

  &.secondary {
    border: 2px solid $colorPrimary;
    background: none;
    color: $colorPrimary;

    &:hover {
      background: transparentize($colorPrimary, 0.9);
    }
  }
}