@import 'variables.scss';

.content {
  margin-top: 70px;
  min-height: calc(100vh - 70px);
  display: flex;
  flex-direction: column;
  transition: transform .3s ease-in-out; 

  &.opened {
    transform: translateX(100px);
  }
}

.shadow {
  width: 100vw;
  height: 100vh;
  background: transparentize($colorPrimaryDark, 0.4);
  position: fixed;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  z-index: 1;
  pointer-events: none;

  &.enabled {
    opacity: 1;
    pointer-events: auto;
  }
}