@import 'variables.scss';

.link {
  text-decoration: none;
  color: $colorText;
  padding: 10px 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background: none;
  transition: .3s;

  .icon {
    height: 30px;
    margin-left: 15px;
    margin-right: 30px;
    fill: $colorTextDark;
    transition: .3s;
  }

  .text {
    margin-left: 75px;
  }

  .icon + .text {
    margin-left: 0;
  }

  &:hover {
    background: transparentize($colorPrimary, 0.9);
    color: $colorPrimary;

    .icon {
      fill: $colorPrimary;
    }
  }

  &.dense {
    padding: 0px 15px;

    .icon {
      height: 20px;
    }

    .text {
      font-size: .9em;
    }
  }
}