@import '../shared/variables.scss';

.categoriesGrid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
  margin: 0;
  padding: 0;

  .cat {
    width: 50%;
    height: 150px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    transition: .3s;
    text-decoration: none;

    &:hover {
      background: transparentize($colorPrimary, 0.9);
    }

    .text {
      margin: 10px auto;
      margin-top: 15px;
      font-size: 1em;
    }

    .icon {
      margin-top: 10px;
      fill: $colorText;
    }
  }
}





.WYNIKI {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;

  .info {
    flex: 1;

    .name {
      margin: 0;
      font-size: 1em;
    }
  
    .color {
      margin: 0;
      font-size: .8em;
      margin-top: 3px;
    }
  }

  .icon {
    height: 50px;
    margin-right: 20px;
  }

  .price {
    font-size: 1.5em;

    .currency {
      color: $colorGray;
      font-size: 0.7em;
      margin-left: 3px;
    }
  }
}




.filterBox {
  

  &.open {
    

    .header {
      
    }

    .header .icon {
      
    }
  }

  .header {
    

    .title {
      
    }

    .icon {
      
    }
  }
}




.filters {
  
}

.filter {
  

  .name {
    
  }

  .input {
    
  }
}
